
h1 {
    border:solid red;
}

h2 {
    border:solid black;
    text-align: center;
}

input[type=text] {
    width: 100%;
    background-color : Black; 
    color : White; 
    font-family : Verdana, Arial, Helvetica; 
    font-size : 8pt; 
    text-align : center;
}